@model Student_App_MVC.Models.DTOs.BaseResponse<System.Collections.Generic.List<Student_App_MVC.Models.DTOs.Student.StudentDTO>>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
