@model System.Threading.Tasks.Task<Student_App_MVC.Models.DTOs.BaseResponse<System.Collections.Generic.List<Student_App_MVC.Models.DTOs.Department.DepartmentDTO>>>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
